In [1]:
import os
import pandas as pd

In [2]:
dataset1 = '/mnt/Datasets/datasets/Aptos-2019-Blindness_Detection/train.csv'
images1 = '/mnt/Datasets/datasets/Aptos-2019-Blindness_Detection/images/train'
ext1 = 'png'

In [3]:
dataset2 = '/mnt/Datasets/datasets/diabetic-retinopathy-detection/labels.csv'
images2 = '/mnt/Datasets/datasets/diabetic-retinopathy-detection/images'
ext2 = 'jpeg'

In [4]:
df1 = pd.read_csv(dataset1)
df2 = pd.read_csv(dataset2)

In [5]:
df1.shape

(3662, 2)

In [6]:
df1.head()

        id_code  diagnosis
0  000c1434d8d7          2
1  001639a390f0          4
2  0024cdab0c1e          1
3  002c21358ce6          0
4  005b95c28852          0

In [7]:
df1 = df1[df1['diagnosis'] < 2].reset_index()

In [8]:
df1.shape

(2175, 3)

In [9]:
df1.head()

   index       id_code  diagnosis
0      2  0024cdab0c1e          1
1      3  002c21358ce6          0
2      4  005b95c28852          0
3      6  0097f532ac9f          0
4      9  00cb6555d108          1

In [10]:
df1['diagnosis'].value_counts()

0    1805
1     370
Name: diagnosis, dtype: int64

In [11]:
df2.shape

(35126, 2)

In [12]:
df2.head()

      image  level
0   10_left      0
1  10_right      0
2   13_left      0
3  13_right      0
4   15_left      1

In [13]:
df2 = df2[df2['level'] < 2].reset_index()

In [14]:
df2.shape

(28253, 3)

In [15]:
df2.head()

   index     image  level
0      0   10_left      0
1      1  10_right      0
2      2   13_left      0
3      3  13_right      0
4      4   15_left      1

In [16]:
df2['level'].value_counts()

0    25810
1     2443
Name: level, dtype: int64

# Combining Data

In [17]:
dataset = pd.DataFrame()
dataset['path'] = images1 + '/' + df1['id_code'] + '.' + ext1
dataset['level'] = df1['diagnosis']

In [18]:
dataset.head()

                                                path  level
0  /mnt/Datasets/datasets/Aptos-2019-Blindness_De...      1
1  /mnt/Datasets/datasets/Aptos-2019-Blindness_De...      0
2  /mnt/Datasets/datasets/Aptos-2019-Blindness_De...      0
3  /mnt/Datasets/datasets/Aptos-2019-Blindness_De...      0
4  /mnt/Datasets/datasets/Aptos-2019-Blindness_De...      1

In [19]:
dataset2 = pd.DataFrame()
dataset2['path'] = images2 + '/' + df2['image'] + '.' + ext2
dataset2['level'] = df2['level']

In [20]:
dataset2.head()

                                                path  level
0  /mnt/Datasets/datasets/diabetic-retinopathy-de...      0
1  /mnt/Datasets/datasets/diabetic-retinopathy-de...      0
2  /mnt/Datasets/datasets/diabetic-retinopathy-de...      0
3  /mnt/Datasets/datasets/diabetic-retinopathy-de...      0
4  /mnt/Datasets/datasets/diabetic-retinopathy-de...      1

In [21]:
dataset = dataset.append(dataset2, ignore_index=True)

In [22]:
dataset['level'].value_counts()

0    27615
1     2813
Name: level, dtype: int64

In [23]:
dataset = dataset.sort_values(by='level', ascending=False)

In [24]:
dataset =  dataset.head(dataset['level'].value_counts()[1]*2)

In [25]:
dataset['level'].value_counts()

1    2813
0    2813
Name: level, dtype: int64

# Splitting

In [27]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(dataset, test_size=0.25)

In [28]:
train.head()

                                                    path  level
21927  /mnt/Datasets/datasets/diabetic-retinopathy-de...      0
20709  /mnt/Datasets/datasets/diabetic-retinopathy-de...      0
27641  /mnt/Datasets/datasets/diabetic-retinopathy-de...      1
6491   /mnt/Datasets/datasets/diabetic-retinopathy-de...      1
688    /mnt/Datasets/datasets/Aptos-2019-Blindness_De...      1

In [30]:
BASE_PATH = "/mnt/Datasets/datasets/"

In [31]:
train.to_csv(os.path.join(BASE_PATH, 'combined_train_split.csv'), index=False)
test.to_csv(os.path.join(BASE_PATH, 'combined_test_split.csv'), index=False)