In [1]:
import os
import pandas
from sklearn.model_selection import train_test_split

In [2]:
BASE_PATH = "/mnt/Datasets/datasets/Aptos-2019-Blindness_Detection"

In [3]:
df = pandas.read_csv(os.path.join(BASE_PATH, 'train.csv'))

In [4]:
df['level'] = df['diagnosis']

In [6]:
df.head()

        id_code  diagnosis  level
0  000c1434d8d7          2      2
1  001639a390f0          4      4
2  0024cdab0c1e          1      1
3  002c21358ce6          0      0
4  005b95c28852          0      0

In [7]:
df['diagnosis'] = df['level'] > 0

In [8]:
df.head()

        id_code  diagnosis  level
0  000c1434d8d7       True      2
1  001639a390f0       True      4
2  0024cdab0c1e       True      1
3  002c21358ce6      False      0
4  005b95c28852      False      0

In [12]:
df['diagnosis'].value_counts()

True     1857
False    1805
Name: diagnosis, dtype: int64

In [13]:
train, test = train_test_split(df, test_size=0.25, random_state=42)

In [14]:
train.to_csv(os.path.join(BASE_PATH, 'train_split.csv'), index=False)
test.to_csv(os.path.join(BASE_PATH, 'test_split.csv'), index=False)

In [15]:
df['level'].value_counts()

0    1805
2     999
1     370
4     295
3     193
Name: level, dtype: int64

In [16]:
df['diagnosis'].value_counts()

True     1857
False    1805
Name: diagnosis, dtype: int64

In [17]:
train['diagnosis'].value_counts()

True     1391
False    1355
Name: diagnosis, dtype: int64

In [18]:
test['diagnosis'].value_counts()

True     466
False    450
Name: diagnosis, dtype: int64